h1{
    color: indigo;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
img{
    max-width: 150px;
    padding-bottom: 20px;
}
.hero{
    background: mistyrose;
    text-align: center;
}
.partition{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: center;
    line-height: 30px;
}
.division{
    padding-bottom: 50px;
}